<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>
            <div class="container">
                <hr>
                <h1>Perguntas Realizadas</h1>
                <hr>
                <a href="/perguntar" class="btn btn-primary">Realizar Pergunta</a>
                <% perguntas.forEach(pergunta=> { %>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p>
                            <h3>
                                <%= pergunta.titulo %>
                            </h3>
                            </p>
                        </div>
                        <div class="card-footer">
                            <p>
                                <a href="/pergunta/<%= pergunta.id %>"><button
                                        class="btn btn-primary">Responder</button></a>
                            </p>
                        </div>
                    </div>
                    <% }) %>
            </div>
    </body>
    <%- include ('partials/footer.ejs') %>